body {
    background-color: lightblue;
    padding-top: 20px;
}

.search-box {
    border: none;
    width: 100%;
    outline: none;
}

#new-note-btn {
    background-color: #ffeb60;
    height: 50px;
    width: 50px;
    line-height: 35px;
    font-size: 30px;
    font-weight: 900;
}

.extra-bot-margin {
    /*margin-bottom: 20px;*/
}

.note-panel {
    min-height: 80px;
    background-color: lightgoldenrodyellow;
}

.note-input {
    width: 100%;
    height: 100%;
    padding: 25px;
    border: none;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    outline: none;
    resize: none;
    font-size: 20px;
}

.tag-input {
    padding: 25px;
    background: none;
    border: none;
    outline: none;
    word-spacing: 20px;
    width: 70%;
}

.tag-label {
    padding-left: 25px;
}

.user-float {
    float: left;
    position: absolute;
    background-color: lightgoldenrodyellow;
    width: 220px;
    margin-left: 50px;
    padding: 15px;
    text-align: center;
}

#user-email-span {
    float: left;
    line-height: 35px;
    padding-left: 10px;
}

.logout-btn {
    float: right;
}

.share-btn-container {
    float: right;
    padding: 25px 10px 25px 25px;
}

.share-panel-blackout {
    z-index: 1000;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    left: 0px;
    top: 0px;
}

.share-panel {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 25px;
    font-size: 20px;
    background-color: lightgoldenrodyellow;
}

#share-input {
    border: none;
    outline: none;
    background: none;
    padding: 25px;
    width: 100%;
}

#share-text-btn {
    float: none;
    background-color: lightgreen;
}

#cancel-share-btn {
    float: right;
    background-color: lightsalmon;
}

.shared-note {
    background-color: #faead2;
}

.shared-by-label {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 12px;
    color: grey;
}

.download-float {
    width: 200px;
    float: right;
    margin-right: 50px;
    padding: 10px;
    text-align: center;
    background-color: lightgoldenrodyellow;
}

.someOtherTheme {
    overflow: hidden;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.someOtherTheme.noty_container_type_alert {
    background-color: #f5f5f5;
}

.someOtherTheme.noty_container_type_information {
    background-color: #bbe1e8;
}

.someOtherTheme.noty_container_type_error {
    background-color: #eaadad;
    color: #fff;
    font-weight: bold
}

.someOtherTheme.noty_container_type_warning {
    background-color: lightsalmon;
    color: #fff;
}

.someOtherTheme.noty_container_type_success {
    background-color: lightgreen;
    color: #fff;
}

.someOtherTheme .noty_message {
    padding: 10px 20px;
}